<?xml version="1.0"?>
<config>
    <modules>
        <Mdg_Giftregistry>
            <version>0.1.0</version>
        </Mdg_Giftregistry>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Mdg_Giftregistry/>
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
        <mdg_giftregistry>
            <class>Mdg_Giftregistry_Model</class>
            <resourceModel>mdg_giftregistry_mysql4</resourceModel>
        </mdg_giftregistry>
        <mdg_giftregistry_mysql4>
            <class>Mdg_Giftregistry_Model_Mysql4</class>
            <entities>
                <entity>
                    <table>mdg_giftregistry_entity</table>
                </entity>
                <item>
                    <table>mdg_giftregistry_item</table>
                </item>
                <type>
                    <table>mdg_giftregistry_type</table>
                </type>
            </entities>
        </mdg_giftregistry_mysql4>
    </models>
        <blocks>
            <mdg_giftregistry>
                <class>Mdg_Giftregistry_Block</class>
            </mdg_giftregistry>
        </blocks>
        <helpers>
            <mdg_giftregistry>
                <class>Mdg_Giftregistry_Helper</class>
            </mdg_giftregistry>
        </helpers>
        <resources>
            <mdg_giftregistry_setup>
                <setup>
                    <module>Mdg_Giftregistry</module>
                    <class>Mdg_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mdg_giftregistry_setup>
            <mdg_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mdg_giftregistry_write>
            <mdg_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mdg_giftregistry_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <mdg_giftregistry module="mdg_giftregistry">
                    <file>mdg_giftregistry.xml</file>
                </mdg_giftregistry>
            </updates>
        </layout>
        <routers>
            <mdg_giftregistry>
                <use>standard</use>
                <args>
                    <module>Mdg_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </mdg_giftregistry>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mdg_giftregistry before="Mage_Adminhtml">Mdg_Giftregistry_Adminhtml</mdg_giftregistry>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mdg_giftregistry module="mdg_giftregistry">
                    <file>giftregistry.xml</file>
                </mdg_giftregistry>
            </updates>
        </layout>
    </adminhtml>
</config>

